body {
    background: url("..//images/symphony.png");
    font: bold 14px 'MTCORSVA', Verdana;
    color: black;
    width: 1100px;
    margin: 0 auto;
    
}


table {

    margin: 20px 25px;
    border-collapse: collapse;
    text-align: center;  
}

table th {
    background-color: #bbb;
    color: white; 
   
 }

table td {
    padding:5px  5px ;
    background-color: white;
    color: #272822 ;

}


#line1 {
    display:block;
    border: solid 5px #2fc5ff;
    border-radius: 5px;
    margin: 20px 0;
}

#line2 {
    display:block;
    border: solid 5px #2fc5ff;
    border-radius: 5px;
    margin: 20px 0;
}



.knopka {
    text-transform: uppercase;
    font:bold 14px Tahoma ;
    color: white;
    text-align: center;
    line-height: 35px;
    width: 200px;
    height: 35px;
    border: sold 0  px #bbb;
    border-radius: 15px;
    background-color: #bbb;     
    cursor: pointer;
    box-shadow: 0 0 6px 2px #2fc5ff;
    position: absolute;
    display: block;
      margin: 0 40px;
}

.knopka1 {
    background-image: imageurl()
    text-transform: uppercase;
    font:bold 14px Tahoma ;
    color: white;
    text-align: center;
    line-height: 35px;
    width: 200px;
    height: 35px;
/*    border: sold 0  px #bbb;*/
    border-radius: 15px;
    background-color: #bbb;     
    cursor: pointer;
    box-shadow: 0 0 6px 2px #2fc5ff;
    margin: 0 250px;
    position: relative;
     display: block;
}


.knopka:hover {
background-color: #2fc5ff;
}
.knopka1:hover {
background-color: #2fc5ff;
}



